<section class="bg-zinc-900 p-20 flex flex-col gap-4 rounded-xl">
    <h2 class="text-5xl font-bold">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem animi quae hic, odio voluptate veniam neque praesentium doloremque assumenda. Eos id dolorum quaerat dignissimos adipisci, deleniti dolore ipsum sapiente deserunt facere quisquam voluptates eius maxime qui ipsa, assumenda sunt sed molestias amet ex excepturi! Sapiente atque sunt enim commodi facilis!</p>
</section>