<section class="flex flex-col md:flex-row gap-16 px-6 mt-20">
    <div class="grid grid-cols-2 place-content-center md:basis-1/2">
        <div>
            <img src="images/favicon.svg" alt="icono" class="w-20 m-auto">
            <p class="mt-2 text-center">Dev Managment</p>
        </div>
        <div>
            <img src="images/favicon.svg" alt="icono" class="w-20 m-auto">
            <p class="mt-2 text-center">Dev Managment</p>
        </div>
        <div>
            <img src="images/favicon.svg" alt="icono" class="w-20 m-auto">
            <p class="mt-2 text-center">Dev Managment</p>
        </div>
        <div>
            <img src="images/favicon.svg" alt="icono" class="w-20 m-auto">
            <p class="mt-2 text-center">Dev Managment</p>
        </div>
    </div>
    <div class="flex flex-col items-center gap-4 md:basis-1/2">
        <h2 class="font-bold text-3xl">Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, accusantium mollitia labore at illum dolor, alias, iusto nobis voluptate sapiente nihil fugit voluptates magnam? Enim ipsa rerum accusamus veniam excepturi.</p>
    </div>
</section>