---
import Layout from "../layouts/Layout.astro"; 
---
<Layout title="Acerca del sitio">
    <h2>About Page</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint eaque neque voluptate. Veritatis et id vel, repellendus iure dolore laboriosam ratione quasi facilis ut soluta dicta animi sunt deleniti enim incidunt debitis fugit assumenda, est cumque perspiciatis adipisci! Earum obcaecati repudiandae nisi numquam aut vero cum animi magni delectus inventore?</p>
</Layout>